{% extends "home/base.html" %}
{% load static %}
{% block portfolio %}
<main>
  <div class="album py-5 bg-light">
    <div class="text-center mb-16">
    <h2 class="text-3xl lg:text-4xl font-bold mb-4">نمونه کار ها</h2>
    <p class="text-gray-600 text-lg">حوزه‌های تخصصی من</p>
    </div>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for portfolio in portfolios %}
        <div class="col">
          <div class="card shadow-sm">
          
            <img class="card-img-top" src="{{ portfolio.image.url }}">

            <div class="card-body">
              <p class="card-text">{{ portfolio.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-dark text-white btn-sm btn-outline-secondary" href="{{portfolio.id}}">توضیحات</a>
                  <a href="{{ portfolio.github_link }}" target="_blank"  class="w-10 h-10 bg-primary bg-opacity-20 flex items-center justify-center text-white transition-colors">
                    <i class="ri-github-line"></i>
                  </a>
                  
                </div>
                <small class="text-dark">{{ portfolio.created_at }}</small>
              </div>
              
            </div>
          </div>
          </div>
          
          
            {% endfor %}
          </div>
    </div>
  </div>  
</main>
{% endblock portfolio %}
